<footer>
  <div class="footer-container">
    <div class="footer-inner layout-container">
      <div class="column">
        <h4>Chính sách mua hàng</h4>
        <ul>
          <li>Chính sách giao nhận</li>
          <li>Chính sách đổi trả</li>
          <li>Chính sánh bảo hàng</li>
          <li>Hướng dẫn trả góp</li>
          <li>Hướng dẫn kiểm tra tình hình đơn hàng</li>
        </ul>
      </div>

      <div class="column">
        <h4>Hỗ trợ khách hàng</h4>
        <ul>
          <li>Mua hàng: (090) 123 4567</li>
          <li>Bảo hành: (090) 123 4567</li>
          <li>Phản ánh chất lượng dịch vụ</li>
          <li>Liên hệ báo giá: baogia&#64;test.com</li>
          <li>Hợp tác phát triển: hoptac&#64;test.com</li>
        </ul>
      </div>

      <div class="column">
        <h4>Kết nối với chúng tôi</h4>
        <div class="vertical-icons-wrapper">
          <a href="#" aria-label="Facebook">
            <img src="assets/icons/brand/facebook.svg" alt="Facebook" />
          </a>
          <a href="#" aria-label="Lazada">
            <img src="assets/icons/brand/lazada.svg" alt="Lazada" />
          </a>
          <a href="#" aria-label="Shopee">
            <img src="assets/icons/brand/shopee.svg" alt="Shopee" />
          </a>
          <a href="#" aria-label="Instagram">
            <img src="assets/icons/brand/instagram.svg" alt="Instagram" />
          </a>
          <a href="#" aria-label="YouTube">
            <img src="assets/icons/brand/youtube.svg" alt="YouTube" />
          </a>
          <a href="#" aria-label="TikTok">
            <img src="assets/icons/brand/tiktok.svg" alt="TikTok" />
          </a>
          <a href="#" aria-label="Zalo">
            <img src="assets/icons/brand/zalo.svg" alt="Zalo" />
          </a>
        </div>
      </div>

      <div class="column">
        <h4>Thông tin cửa hàng</h4>
        <div>
          <h5>TP. HCM - Showroom 1</h5>
          <p>Địa chỉ: 123 Đường số 1, Phường A, TP. HCM</p>
          <P>Điện thoại: (090) 123 456</P>
          <p>Mở cửa: 9h đến 21h từ thứ 2 đến Chủ nhật</p>
        </div>
        <div>
          <h5>TP. HCM - Showroom 2</h5>
          <p>Địa chỉ: 456 Đường số 2, Phường B, TP. HCM</p>
          <P>Điện thoại: (090) 123 456</P>
          <p>Mở cửa: 9h đến 21h từ thứ 2 đến Chủ nhật</p>
        </div>
        <div>
          <h3>CÔNG TY ABC</h3>
          <p>Địa chỉ: 456 Đường số 2, Phường B, TP. HCM, Việt Nam</p>
          <P>Mã số thuế: 0000000000</P>
          <a href="#" aria-label="Công nhận từ Bộ Công Thương">
            <img
              src="assets/icons/tag-BoCongThuong.png"
              alt="Công nhận từ Bộ Công Thương"
            />
          </a>
        </div>
      </div>

      <div class="column">
        <h4>Phương thức thanh toán</h4>
        <div class="payment-wrapper">
          <div class="icon-with-text">
            <lucide-icon name="qr-code" />
            <span>QRCode</span>
          </div>

          <div class="icon-with-text">
            <lucide-icon name="clock" />
            <span>Trả góp</span>
          </div>

          <div class="icon-with-text">
            <lucide-icon name="banknote" />
            <span>Tiền mặt</span>
          </div>

          <div class="icon-with-text">
            <lucide-icon name="credit-card" />
            <span>Internet Banking</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="copyright-info layout-container">
      <p>&copy; {{ copyrightYear }} Bản quyền thuộc về Nguyễn Phát Hưng</p>
      <p>Phiên bản: {{ projectVersion }}</p>
    </div>
  </div>
</footer>
