.header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: #298ea0;
}

.logo {
    width: 100px;
    height: 100px;
}