<header>
  <!-- Logo -->
  <img class="logo" src="assets/icons/logo.avif" alt="Logo" />

  <!-- Danh mục -->
  <div class="desktop">
    <button class="category" aria-label="Danh mục">
      <span><lucide-icon name="list" /></span>
      <span>Danh mục</span>
    </button>
  </div>

  <!-- Thanh tìm kiếm -->
  <app-search-bar />

  <div class="mobile-container">
    <!-- Danh mục -->
    <nav class="mobile">
      <a href="/" class="nav-item">
        <span><lucide-icon name="list" /></span>
        <span class="lable">Danh mục</span>
      </a>
    </nav>

    <!-- Giỏ hàng -->

    <nav class="cart-wrapper">
      <a href="/" class="nav-item">
        <div class="icon-wrapper">
          <lucide-icon name="ShoppingCart" />
          <span class="badge" data-testid="cart-badge" *ngIf="notifyCount > 0">
            {{ cartItemCount > 99 ? "99+" : cartItemCount }}
          </span>
        </div>
        <span class="lable">Giỏ hàng</span>
      </a>
    </nav>

    <!-- Đăng nhập / Đăng ký -->

    <nav class="user-wrapper">
      <a href="/" class="nav-item">
        <div class="icon-wrapper">
          <lucide-icon name="User" aria-label="Đăng nhập. Đăng ký" />
          <span
            class="badge"
            data-testid="notify-badge"
            *ngIf="notifyCount > 0"
          >
            {{ notifyCount > 99 ? "99+" : cartItemCount }}
          </span>
        </div>
        <span class="lable">Đăng nhập</span>
      </a>
    </nav>
  </div>
</header>
